go 1.26.3

use (
	./apps/auth-service
	./apps/cart-service
	./apps/delivery-service
	./apps/gateway
	./apps/notification-service
	./apps/order-service
	./apps/payment-service
	./apps/analytics-service
	./apps/restaurant-service
	./apps/search-service
	./infra/logger
	./infra/observability
	./infra/prometheus
	./infra/rabbitmq
)
